header {
    background-color: #e5e5e5;
    h1 {
        margin: 0;
        padding: 10px;        
    }
}

nav {
    a {
        padding: 10px;
        background-color: #e6e6e6;
        margin-right: 10px;
        color: blue;
        &.active {
            color: green;
        }
    }
}