<h1>{{title}} !!!</h1>

<h3>{{description}}</h3>
<!-- 
<app-first></app-first>

<app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-class-binding></app-class-binding> -->

<!-- <app-style-binding></app-style-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-template-refrence-variable></app-template-refrence-variable> -->

<!-- <app-twoway-binding></app-twoway-binding> -->

<!-- <app-ng-ifng-switch></app-ng-ifng-switch> -->
{{fromChild.name }}

<button (click)="callChildFn()">Call Child Function</button>
<app-child [parentData]="name" (childEvent)="displayDataFromChild($event)"></app-child>

