<hr>
<h1>{{title}}</h1>

<h3>{{welcome}}</h3>
<button (click)="greet()">Greet</button>

<button (click)="welcome='welcome from temlate'">Greet - Assign</button>
<h3>{{event}}</h3>
<button (click)="captureEvent($event)">Event Capture</button>
<br>
<br>
<input type="text" name="name" id="name" [disabled]="enableDisableInput">
<button (click)="enableDisable()">Enable/Disable Input</button>

<br>
<br>
<button (click)="assignError(false)">Sucess</button>
<button (click)="assignError(true)">Error</button>
<button (click)="toggleSpecial()">Toggle Spcial</button>

<br>
<h3 [ngClass]="{'success': !hasError, 'error': hasError,  'special': isSpecital}">Welcome Jk!!!</h3>

<table>
    <tr (click)="logClick()">
        <td>Name</td>
        <td (click)="logTd($event)">Email</td>
    </tr>
</table>



<hr>